header {
  background: $black;
  color: $white;
  position: relative;
  padding: 10px;
}

.hd-logo {
  float: left;
  padding-left: 35px;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.8rem;
  color: $white;
  font-weight: $bold;
  background: url(../images/hd-logo.png) no-repeat 0 0;
  background-size: 25px;
}

.hd-menu-trigger {
  float: right;
  font-size: 2.5rem;
  line-height: 1;
  color: #fff;
}