.table-wrap {
  max-width: 100%;
  overflow: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
  padding: 10px 12px 10px 0;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: $regular;
  color: $grey;
  text-transform: uppercase;
  white-space: nowrap;
}

td {
  font-size: 1.6rem;
  line-height: 1.2;
  padding: 10px 12px 10px 0;
  border-top: 1px solid rgba(255,255,255,.1);
  white-space: nowrap;
}