$primaryFont: "proxima-nova", "helvetica", "arial", sans-serif;
$light: 300;
$regular: 400;
$semi: 600;
$bold: 700;

html {
  font-family: $primaryFont;
  font-size: 62.5%;
  font-weight: $regular;
  color: $white;
}

body {
  font-size: 1.4rem;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $bold;

  a {
    color: inherit;
  }
}

h1 {
  font-size: 4rem;
  color: $white;
  font-weight: $semi;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: $regular;
  color: $grey;
}

a {
  color: $primaryColour;

  &:hover {
    color: $primaryColourLight;
  }
}

// Typography helpers:
.align-right {
  text-align: right;
}