      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
       if (!window.jQuery) {
          document.write('<script src="/scripts/jquery-3.1.1.min.js"><\/script>');
       }
    </script>
    <script src="/scripts/custom.js"></script>
  </body>
</html>
