<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Endfoos Foosilator</title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/style/main.css">
  </head>
  <body>
    <div class="header">
      <h1>Endfoos Foosilator</h1>
    </div>
    <div class="navigation">
      <ul>
        <li><a href="/games">Games played</a></li>
        <li><a href="/rankings">Rankings</a></li>
        <li><a href="/players">Manage players</a></li>
        <li><a href="/leagues">Manage leagues</a></li>
        <li><a href="/settings">Settings</a></li>
      </ul>
    </div>
    <div class="content">
