* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a0a0a;
  color: #ffffff;
  font-family: sans-serif;
}

h1 {
  text-transform: uppercase;
}

a {
  color: #ffffff;
  transition: 0.2s;
  text-decoration: none;
}

a:hover {
  color: #048804;
}

.header {
  width: 100%;
  background-color: #048804;
}

.header h1 {
  font-size: 20px;
  margin: 0;
  padding: 10px 0px 10px 50px;
}

header a:hover {
  color: #ffffff;
}

.full-width-wrapper {
  width: 100%;
}

.navigation {
  width: 15%;
  float: left;
}

.navigation ul {
  list-style: none;
  padding-left: 20px;
}

.navigation li {
  margin-bottom: 10px;
}

.content {
  top: 0;
  bottom: 0;
  height: 100%;
  width: 85%;
  float: left;
  background-color: #171717;
  padding: 20px;
}

.content table {
  width: 100%;
  border-collapse: collapse;
}

.content table th {
  text-align: left;
  font-size: 11px;
  text-transform: uppercase;
  color: #8f8f8f;
}

.content tr {
  border-bottom: 1px solid #252626;
}

.content tbody tr:hover {
  background-color: #282828;
}

.content th, .content td {
  padding: 10px 0px;
}

section {
  margin-bottom: 20px;
}

hr {
  margin: 0px;
  border: none;
  background-color: transparent;
  margin-bottom: 20px;
  border-bottom: 1px solid #252626;
}

.field-wrap {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  height: 0px;
}

.field-wrap label {
  display: block;
  font-size: 11px;
  text-transform: uppercase;
  color: #8f8f8f;
}

input[type="text"] {
  border: none;
  border-radius: 2px;
  background-color: #ffffff;
  font-size: 14px;
  padding: 4px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select {
  background-color: #ffffff;
  background-image: url('/images/dropdown-arrow.png');
  background-repeat: no-repeat;
  background-position: right 6px top 60%;
  background-size: 8px;
  border: none;
  border-radius: 2px;
  padding: 4px 20px 4px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
}

input[type="submit"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: #1DB954;
  color: white;
  border-radius: 10px;
  padding: 6px 15px;
  margin: 2px;
  transition: all 0.05s;
}

input[type="submit"]:hover {
  background-color: #1BD85E;
  padding: 8px 17px;
  border-radius: 12px;
  margin: 0px;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

svg {
  background-color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

svg text {
  fill: grey;
}

.player-color {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  display: inline-block;
  border-radius: 100%;
}
