* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a0a0a;
  color: #ffffff;
  font-family: sans-serif;
}

h1 {
  text-transform: capitalize;
}

a {
  color: #ffffff;
  transition: 0.2s;
  text-decoration: none;
}

a:hover {
  color: #048804;
}

.header {
  width: 100%;
  background-color: #048804;
}

.header h1 {
  font-size: 20px;
  margin: 0;
  padding: 10px 0px 10px 50px;
}

.full-width-wrapper {
  width: 100%;
  padding: 20px;
}

.navigation {
  width: 15%;
  float: left;
}

.navigation ul {
  list-style: none;
  padding-left: 20px;
}

.navigation li {
  margin-bottom: 10px;
}

.content {
  width: 85%;
  float: left;
}

.content table {
  width: 100%;
}

.content table th {
  text-align: left;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

svg text {
  fill: grey;
}

.player-color {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  display: inline-block;
  border-radius: 100%;
}
